.title {
  font-weight: bolder;
}

@media only screen and (max-width: 768px) {
  .title {
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
  }
}

.appImg {
  width: 100%;
}

.jumbotron {
  margin-right: auto;
  margin-left: 9.5%;
  width: 75%;
}

@media only screen and (max-width: 768px) {
  .jumbotron {
    margin-bottom: 0rem;
  }
}

@media only screen and (max-width: 768px) {
  .description {
    font-size: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .links {
    text-align: center;
  }
}
