@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansjp/v28/-F62fjtqLzI2JPCgQBnw7HFowA.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansjp/v28/-F6pfjtqLzI2JPCgQBnw7HFQei0q1A.otf) format('opentype');
}
* {
  box-sizing: border-box;
}
.projectContainer {
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid #dadada;
}
.projectContainer .projectLeftSide {
  padding-left: 20px;
  width: 40vh;
}
.projectContainer .projectLeftSide .projectTitle {
  color: #dadada;
  font-size: 25px;
  font-weight: bold;
}
.projectContainer .projectLeftSide .projectDescription {
  color: #dadada;
}
.projectContainer .projectLeftSide .projectLinks {
  display: inline;
}
.projectContainer .projectLeftSide .projectLinks button {
  width: 100px;
  color: #dadada;
  margin: 0 20px;
  background: none;
  border: 2px solid #dadada;
  border-radius: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}
.projectContainer .projectLeftSide .projectLinks button:hover {
  background-color: #dadada;
  color: #464646;
}
.projectContainer .projectRightSide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectContainer .projectRightSide .mobileContainer {
  margin-left: 50px;
}
@media only screen and (max-width: 768px) {
  .projectContainer .projectRightSide .mobileContainer {
    /* For mobile phones: */
    margin-left: 10px;
  }
}
.projectContainer .projectRightSide .mobileContainer .mobileImage img {
  width: 100%;
  height: auto;
  max-width: 145px;
}
.projectContainer .projectRightSide .laptopContainer,
.projectContainer .projectRightSide .mobileContainer {
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: all 0.5s ease-out;
}
.projectContainer .projectRightSide .laptopContainer:hover,
.projectContainer .projectRightSide .mobileContainer:hover {
  transform: scale(1.15);
  image-rendering: smooth;
  z-index: 3;
}
.projectContainer .projectRightSide .laptopContainer .laptopImage img,
.projectContainer .projectRightSide .mobileContainer .laptopImage img {
  width: 100%;
  height: auto;
  max-width: 450px;
}
