#myProjects {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  color: #06e331;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 13px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #myProjects {
    font-size: 20px;
  }
}
