/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/* Settings for entire page */
body {
  background-color: aliceblue;
  font-family: "Montserrat", sans-serif;
}

/* Header */
.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.navbar-nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* Body */
.main-content {
  color: rgb(48, 47, 47);
  background-color: aliceblue;
}

/* Footer */
footer {
  background-color: aliceblue;
  text-align: center;
  padding: 20px;
}
