@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  background-image: url("../images/gplaypattern.png");
  background-repeat: repeat;
  height: 100%;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.navbar-nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.main-content {
  background-color: white;
}

#about-heading {
  margin: 20px;
}

.about-content {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
}

/* footer {
  background: rgb(149, 191, 71);
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
} */
