/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/* Settings for entire page */
body {
  background-image: url("../images/gplaypattern.png");
  background-repeat: repeat;
  font-family: "Montserrat", sans-serif;
}

/* Header */
.navbar-brand {
  font-weight: 600;
}

.navbar-nav {
  font-weight: 400;
}

/* Body */
.section-1 {
  background-color: white;
}

.section-2 {
  background-color: rgb(149, 191, 71);
}

p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 22px;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 600;
  color: white;
}

/* Footer */
footer {
  background-color: white;
  text-align: center;
  padding: 15px;
}
