/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/* Settings for entire page */
body {
  background-image: url("../images/gplaypattern.png");
  background-repeat: repeat;
  font-family: "Montserrat", sans-serif;
}

/* Header */
.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.navbar-nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* Body */
.main-content {
  background-color: white;
}
