/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/* Settings for entire page */
body {
  background-color: aliceblue;
  font-family: "Montserrat", sans-serif;
}

/* Header */
.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.navbar-nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

#name {
  margin-left: 10px;
}

/* Body */
.main-content {
  background-color: aliceblue;
}

.expand:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}

.card {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.card-title {
  font-weight: bolder;
}

.btn-primary {
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: aliceblue;
  text-align: center;
  padding: 20px;
}

.social-media {
  margin-left: 5px;
  margin-right: 5px;
}
