/* * {
  box-sizing: border-box;
}

.container {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectCard {
  background-color: salmon;
  width: 400px;
}

.description {
  overflow: auto;
}

.githubBtn {
  width: 100px;
}

.deployedBtn {
  width: 100px;
} */
